<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true" threshold="ON">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\RTLSLogPostgre\\Engine\\Engine.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="13MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %-5level [%class:%line]  %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="AntennePower" value="4" />
    <add key="TagFirstCalculateTotalSeconds" value="60" />
    <!--Kaç saniye geçen tag verileri kaldırılacak-->
    <add key="YeniAlgoritma" value="1" />
    <!--Eski ssitemde sinyal gelince posizyonlama yapılıyordu, Yeni sistedem son sinyal için beklenecekmi-->
    <add key="PositionMaxWaitSeconds" value="3" />
    <!--Son tag verisi kaç saniye sonra hesaplamaya dahl edilecek-->
    <add key="minReaderNumber" value="1" />
    <!--Pozisyonlama için en az kaç reader dan veri alınacak-->
    <add key="minRssiValue" value="-95" />
    <!--85 Pozisyonlama için Min Rssi değeri ne olacak ?-->
    <add key="maxDistanceValueCentimeter" value="10000" />
    <!--600 Pozisyonlamada en fazla kaç santimetre mesafede bulunan readerler dikkate alınacak-->
    <add key="circleMaxDistanceValueCentimeter" value="20000" />
    <!--Circle Max Distance-->
    <add key="readerSectorMaxDistanceCentimeter" value="2500" />
    <!--Reader pozisyonlama ile sectorler reader mesafesine göre filtrelenmektedir.-->
    <add key="maxRssiDifRatio" value="500" />
    <!--sectore gore pozisyonlamada hangi oran daki sektörler kullanılacak *100-->
    <add key="collectedSectorData" value="false" />
    <!--Sector bazlı pozisyonlama için sector datası toplanacak mı ?-->
    <add key="IntersectionIterationRation" value="1" />
    <!--Kesişimde iterasyon için artış oranı değeri *100-->
    <add key="tagPosition" value="true" />
    <!--Tag pozisyonlaması yapılacakmı ?-->
    <add key="tagStaLog" value="true" />
    <!--Tag istatistik verisi toplanacak mı ?-->
    <add key="tagFilter" value="8523,2466" />
    <!--F2FEB6066172,EBDF234902FF,E715C4998B5B,D23DE09361BE,E8CC718AADC6 F07FD37DEEDA,F01A6380A96B 8617,8654,4271,8573 Sadece byu tagleri pozisyonla-->
    <add key="tagPositionFindBySector" value="true" />
    <!--Tag pozisyonlaması sektor mü yoksa reader bazlımı yapılacak ?-->
    <add key="tagPositionedNearSector" value="false" />
    <!--Sectör bazlı pozisyonlamada en yakın sektörün koordinatımı, yoksa diğer sektörlerinde dahil edildiği ağrlık koordinatımı dikkate alınacak ?-->
    <add key="mqttBrokerUrl" value="localhost" />
    <!--Broker Url adresi ?-->
    <add key="iterationMaxValue" value="120" />
    <!--iteration max Ratio  value/100-->

    <add key="floorRssiDifference" value="5" />

    <add key="jobRestartTimeSecond" value="5" />

    <add key="readerListUrl" value="http://localhost/api/reader/readeralllist" />
    <add key="sectorListUrl" value="http://localhost/api/sensor/sensoralllist" />
    <add key="setPositionUrl" value="http://localhost/api/tag/setposition" />

    <add key="sendReaderState" value="true" />
    <add key="sendReaderStateUrl" value="http://localhost/reader/readerreaddatetime" />

    <add key="_BaglantiSunucuIp" value="localhost" />
    <add key="_BaglantiKullaniciAdi" value="postgres" />
    <add key="_BaglantiSifre" value="Ankara123" />
    <add key="_BaglantiDatabase" value="Mediref" />

  </appSettings>

  <connectionStrings>
    <!--<add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.168.174;Initial Catalog=RTLSEngine;Integrated Security=False;User Id=sa;Password=Ankara123;MultipleActiveResultSets=True" />-->
    <!--<add name="ConnectionStringMediref" providerName="System.Data.SqlClient" connectionString="Data Source = 172.16.4.171;Initial Catalog = Artieles;Integrated Security=False;User Id=sa;Password=Ankara123;MultipleActiveResultSets=True" />-->
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
        </dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.21623.0" newVersion="2.10.21623.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
